@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* Reset unwanted global styles */
body {
  display: block !important;
  place-items: unset !important;
  justify-content: unset !important;
  align-items: unset !important;
  min-height: auto !important;
  margin: 0;
  background-color: #fff;
}

h1{
    font-family: "UnifrakturMaguntia", cursive;
}





