@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

/* Basic reset */
* { margin: 0; padding: 0; }
a{
  text-decoration: none;
}
/* Let Bootstrap theming control colors */
body {
  display: block !important;
  place-items: unset !important;
  justify-content: unset !important;
  align-items: unset !important;
  min-height: auto !important;
  margin: 0;
  background-color: var(--bs-body-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 { font-family: "UnifrakturMaguntia", cursive; }


/* Logo sign */
.nav-logo {
  font-size: 1.5rem;
  color: var(--bs-primary);
}

.form-control:focus, .form-select:focus {
  box-shadow: 0 0 0 0.25rem #ebe175;
  border-color: #f68f30;
}